<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Welcome to New Astrology</h1>
<p>
  This is a Project for Software Development II with help from
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 <p>Already have an account?</p>
 <%= link_to "Log in now", login_path, class: "btn btn-lg btn-primary" %>
</div>
<center>
<%= link_to image_tag("signs.jpg", alt: "West Astrology") %>
</center>
</div>