<footer class="footer">
  <small>
    The <a href="#">New Astrology</a>
    by <a href="http://avaldivi.github.io/">Adrianna Valdivia</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Author</a></li>
    </ul>
  </nav>
</footer>